<?xml version="1.0"?>

<launch>
    <node type="point_cloud_assembler" pkg="laser_assembler"
            name="my_assembler">
        <remap from="cloud" to="/laser_to_cloud_out"/>
        <param name="max_clouds" type="int" value="2000" />
        <param name="fixed_frame" type="string" value="/map_world_frame" />
    </node>

<!--Calls the laser_assembler service which is required to publish the assembled cloud-->
    <node type="call_laser_assembler_srv" name="call_laser_assembler_srv"
        pkg="laser_assembler_implementation"/>

<!--Converts PointCloud message to PointCloud2. The PointCloud2 msg is used for the octomap-->
    <node type="conv_cloud_to_cloud2" name="conv_cloud_to_cloud2"
        pkg="laser_assembler_implementation">
        <remap from="cloud_in" to="assembled_cloud_out" />
        <remap from="cloud2_out" to="assembled_cloud2_out" />


<node type="conv_laser_to_cloud" name="conv_laser_to_cloud" pkg="laser_assembler_implementation">
    <remap from="laser_scan_in" to="/scan_lsm"/>
</node>
</launch>
