<?xml version="1.0"?>
<launch>

    <!--    Start RVIZ with configuration file-->
    <node name="rviz" pkg="rviz" type="rviz" required="true"
          args="--display-config $(find master_laser_scanner)/rviz/implement_hector_mapping.rviz"/>


    <include file="$(find slam_2D)/launch/hector_mapping.launch" />

    <include file="$(find laser_conversions)/launch/laser_assembler.launch" />

    <include file="$(find octomap_server)/launch/brendan_octomap.launch" />

    <node name="image_view" pkg="image_view" type="image_view" >
        <remap from="image" to="camera/image_raw" />
    </node>
</launch>
